/* This is your custom CSS file */

:root {
	--footer-bg-color: #94B49F;
	--footer-bg-color-copyright: #86a792;
	--footer-text-color: #DFEEEA;
	--link-color-hover: #94B49F;
	--main-content-bg-color: #DFEEEA;
	--section-bg-color: #faf8f8;
	--text-color-primary: #333;
	--text-color-secondary: #EEE;
	--text-color-secondary-hover: #FFF;

}



* {
	font-family: 'Montserrat', sans-serif;
	color: var(--text-color-primary);
}

section {
	padding: 15px;
	border-radius: 10px;
}

section h1 {
	margin-left: 20px;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}


a {
	color: var(--text-color-primary);
	text-decoration: none;
}

.article-link {
	font-size: 1.5rem;
	font-weight: 600;
}

.article-link:hover {
	color: var(--link-color-hover);
}



/* Navbar */
.navbar {
	margin: auto;
	max-width: 1200px;
}

#navbarNav {
	flex-grow: 0;
	margin-right: 100px;
	margin-left: 100px;
}

#navbarNav li {
	text-align: center;
}


/* Main Content */

.main-content {
	max-width: 1200px;
	margin: auto;
	margin-bottom: 100px;
	padding: 20px;
	background-color: var(--main-content-bg-color);
}

.main-content section {
	margin-top: 100px;
	background-color: var(--section-bg-color);
}


/* Headline */

.main-content .headline {
	display: flex;
	flex-wrap: wrap;
}

.main-content .headline-photo {
	flex: 2;
	min-width: 500px;
	position: relative;
}

.main-content .headline-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 2px;
}

.headline-text a {
	color: var(--text-color-secondary-hover);
	background-color: rgba(0, 0, 0, 0.2);

}

.headline-text span {
	color: var(--text-color-secondary-hover);
}


.main-content .headline-text {
	position: absolute;
	bottom: 30px;
	left: 20px;
	right: 20px;
	color: var(--text-color-secondary);
	display: flex;
	flex-direction: column;
}

.main-content .headline-links {
	flex: 1;
	padding: 15px;
	min-width: 300px;
	display:  flex;
	flex-direction: column;
	gap: 20px;
}


.main-content .headline-link {
	display: flex;
  flex-direction: column;
}


/* Opinion */


.opinion-section .opinions {
	display: flex;
	flex-wrap: wrap;

}

.opinion {
	flex: 1;
	min-width: 300px;
	padding: 15px;
}

.opinion p{
	margin-top: 10px;
}
.opinion img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

/* Sport */

.sport-section .sport-content {
	display: flex;
	flex-wrap: wrap;

}

.sport-main {
	flex: 1;
	min-width: 300px;
	display:  flex;
	flex-direction: column;
	gap: 20px;
}

.sport-main img {
	width: 100%;
	object-fit: cover;
}


.sport-links {
	flex: 2;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}

.sport-link {
	display: flex;
	flex-direction: column;
}

.sport-link a {
	font-size: 1.2rem;
}


/* culture */

.culture-section .culture {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 10px;
}

.culture-main {
	flex: 2;
	min-width: 300px;
	display:  flex;
	flex-direction: column;
	gap: 20px;
}

.culture-main img {
	width: 100%;
	object-fit: cover;
}

.culture-bottom {
	flex: 1;
	min-width: 300px;
}

.culture-bottom img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.culture-link {
	display: flex;
	flex-direction: column;
}

/* Lifestyle */

.lifestyle-section .lifestyle {
	height: 300px;
}

.lifestyle-section .lifestyle .carousel-inner {
	height: 300px;
}

.lifestyle-section .lifestyle .carousel-item {
	height: 300px;
	position: relative;
}

.lifestyle-section .lifestyle .carousel-item p {
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--text-color-secondary);
	font-size: 1.5rem;
	position: absolute;
	bottom: 20px;
	left: 50px;
	right: 50px;
	padding: 5px;
	text-align: center;
}

.lifestyle-section .lifestyle .carousel-item p:hover {
	color: var(--text-color-secondary-hover);
	background-color: rgba(0, 0, 0, 0.6);
}

.lifestyle-section .lifestyle .carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* footer */

footer {
	display: flex;
	flex-direction: column;
	background-color: var(--footer-bg-color);
}

footer a {
	text-decoration: none;
	color: var(--footer-text-color);
	font-weight: 500;

}

.footer-main {
	display: flex;
}

.footer-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;

}


.footer-right {
	flex: 2;
	display: flex;
	justify-content: space-evenly;
	padding: 30px;

}

.footer-right ul li {
	list-style-type: none;

}


.footer-copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: var(--footer-bg-color-copyright);

}

.footer-copyright p {
	margin-bottom: 0;
	color: var(--footer-text-color);
}




/* For mobile screens */

@media only screen and (max-width: 600px) {

	.main-content .headline {
		flex-direction: column;
	}

	.main-content .headline-photo {
		min-width: unset;
	}

	.footer-main {
		flex-direction: column;
	}

}
