/* This is your custom CSS file */

* {
	font-family: 'Montserrat', sans-serif;
	color: #333;
}

section h1 {
	margin-left: 20px;
}

p {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}


a {
	color: #333;
	text-decoration: none;
}

.article-link {
	font-size: 1.5rem;
	font-weight: 600;
}

.article-link:hover {
	color: #609966;
}



/* Navbar */
.navbar {
	margin: auto;
	max-width: 1200px;
}

#navbarNav {
	flex-grow: 0;
	margin-right: 100px;
	margin-left: 100px;
}

#navbarNav li {
	text-align: center;
}


/* Main Content */

.main-content {
	border: 1px solid red;
	max-width: 1200px;
	margin: auto;
	margin-bottom: 100px;
	padding: 20px;
}

.main-content section {
	margin-top: 100px;
	background-color: #f3f0f0;
}


/* Headline */

.main-content .headline {
	display: flex;
	flex-wrap: wrap;
}

.main-content .headline-photo {
	flex: 2;
	min-width: 500px;
	position: relative;
}

.main-content .headline-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: 2%;
}

.headline-text a {
	color:#EEE
}

.headline-text a:hover {
	color: #609966;
}


.main-content .headline-text {
	position: absolute;
	bottom: 30px;
	left: 20px;
	right: 20px;
	color: white;
	display: flex;
	flex-direction: column;
}

.main-content .headline-links {
	flex: 1;
	padding: 15px;
	min-width: 300px;
	display:  flex;
	flex-direction: column;
	gap: 20px;
}


.main-content .headline-link {
	display: flex;
  flex-direction: column;
}


/* Opinion */


.opinion-section .opinions {
	border: 1px solid purple;
	display: flex;
	flex-wrap: wrap;

}

.opinion {
	flex: 1;
	min-width: 300px;
	padding: 15px;
}

.opinion p{
	margin-top: 10px;
}
.opinion img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}

/* Sport */

.sport-section .sport-content {
	display: flex;
	flex-wrap: wrap;

}

.sport-main {
	flex: 1;
	min-width: 300px;
	display:  flex;
	flex-direction: column;
	gap: 20px;
}

.sport-main img {
	width: 100%;
	object-fit: cover;
}


.sport-links {
	flex: 2;
	min-width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}

.sport-link {
	display: flex;
	flex-direction: column;
}

.sport-link a {
	font-size: 1.2rem;
}


/* culture */

.culture-section .culture {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 0.3%;
}

.culture-main {
	flex: 2;
	min-width: 300px;
	display:  flex;
	flex-direction: column;
	gap: 20px;
}

.culture-main img {
	width: 100%;
	object-fit: cover;
}

.culture-bottom {
	flex: 1;
	min-width: 300px;
}

.culture-bottom img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.culture-link {
	display: flex;
	flex-direction: column;
}

/* Lifestyle */

.lifestyle-section .lifestyle {
 	border: 1px solid black;
	height: 300px;
}

.lifestyle-section .lifestyle .carousel-inner {
	height: 300px;
}

.lifestyle-section .lifestyle .carousel-item {
	height: 300px;
	position: relative;
}

.lifestyle-section .lifestyle .carousel-item p {
	background-color: rgba(0, 0, 0, 0.5);
	color: #EEE;
	font-size: 1.5rem;
	position: absolute;
	bottom: 20px;
	left: 50px;
	right: 50px;
	padding: 5px;
	text-align: center;
}

.lifestyle-section .lifestyle .carousel-item p:hover {
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.6);
}

.lifestyle-section .lifestyle .carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* footer */

footer {
	display: flex;
	flex-direction: column;
	background-color: #EDF1D6;
}

.footer-main {
	display: flex;
}

.footer-left {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;

}
.footer-left a {
	text-decoration: none;
	color: #609966;
	font-weight: 500;

}

.footer-right {
	flex: 2;
	display: flex;
	justify-content: space-evenly;
	padding: 30px;

}

.footer-right ul li {
	list-style-type: none;

}


.footer-right a {
	text-decoration: none;
	color: #609966;
	font-weight: 500;
}


.footer-copyright {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: #c8dcbe;

}

.footer-copyright p {
	margin-bottom: 0;
	color: #99bd86;
}




/* For mobile screens */

@media only screen and (max-width: 600px) {

	.main-content .headline {
		flex-direction: column;
	}

	.main-content .headline-photo {
		min-width: unset;
	}

	.footer-main {
		flex-direction: column;
	}

}
